<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quién es?
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header no-shadow>

  <ion-toolbar>
    <ion-searchbar
      #input
      placeholder="dominio.com"
      (keyup.enter)="onSearch(input.value)"
      (ionClear)="clearData()" ></ion-searchbar>
  </ion-toolbar>
  <!-- Default Searchbar -->
  <ion-progress-bar *ngIf="loading" type="indeterminate" ></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quién es?</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <p>Esta app usa el protocolo WHOIS para obtener la información del dominio</p>
      <pre>{{data}}</pre>
    </ion-card-content>

  </ion-card>

</ion-content>
